[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
