[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "colors"]
	path = colors
	url = git://github.com/altercation/solarized.git
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
